
<div class="login" *ngIf="!loggedIn">
  <div class="hide">
    02/28
  </div>

  <div class="form">
    <label class="input">
      <p>Login:</p>
      <input type="text" [(ngModel)]="login" maAutofocus />
    </label>

    <label class="input">
      <p>Password:</p>
      <input type="password" [(ngModel)]="password" />
    </label>

    <a (click)="processLogin()">Login</a>
    <p class="{{attemptMade ? 'error' : 'hide'}}">Incorrect username or password</p>
  </div>

  <div class="error-info">
    <div class="hack">
      <a class="{{displayHackText ? 'error' : 'hide'}}" routerLink="/hack">{{displayText}}</a>
    </div>
  </div>
</div>
<div class="login" *ngIf="loggedIn">
  <p>{{loadingText}}</p>
</div>