
@import '~src/sass/abstract/variables';
@import '~src/sass/abstract/mixins';

.terminal {
  background-color: $app-main;
  border: 1px solid $app-secondary;

  margin: 1rem;
  padding: 0.5rem;

  min-height: 50vh;

  font-family: $app-font;
  font-size: large;
  color: $app-secondary;

  @include flex-column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.options * {
  padding: 0.5rem;
  margin: 0;
}